[submodule "gtest"]
	path = src/third_party/gtest
	url = https://github.com/google/googletest
[submodule "src/third_party/mavlink"]
	path = src/third_party/mavlink
	url = https://github.com/mavlink/mavlink.git
[submodule "proto"]
	path = proto
	url = git@github.com:SEESAI/MAVSDK-Proto.git
